<div class="container p-3">

  <div class="card">
    <div class="card-header bg-dark text-white">
      <i class="fas fa-star"></i> Top Productos
    </div>
    <div class="card-body">
      <h5 class="card-title">Top productos</h5>
      <div class="card-body">
        <table class="table caption-top table-hover">
          <caption>Hoy</caption>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Clave</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Nombre</th>
              <th scope="col">Precio</th>
              <th scope="col">Stock</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of topProductos">
              <th scope="row">{{c.producto.id}}</th>
              <td>{{c.producto.clave}}</td>
              <td>{{c.cantidad}}</td>
              <td>{{c.producto.nombre}}</td>
              <td>{{c.producto.precio}}</td>
              <td>{{c.producto.stock}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
